<nb-card size="large">
  <nb-tabset fullWidth>

    <nb-tab tabTitle="Power">

      <div class="slider-container">
        <ngx-ecig-dragger [(value)]="power.value" (power)="ecigOff = !$event" [min]="power.min" [max]="power.max"
          [disableArcColor]="theme.arcEmpty" [fillColors]="theme.arcFill" [thumbBg]="theme.thumbBg"
          [thumbBorderColor]="theme.thumbBorder">

          <div class="slider-value-container" [ngClass]="{ 'off': ecigOff }">
            <div class="value temperature h1">
              {{ ecigOff ? '--' : (power.value | ngxRound) }}
            </div>
            <div class="desc">
              Watts
            </div>
          </div>
        </ngx-ecig-dragger>
      </div>

      <nb-radio-group [(ngModel)]="temperatureMode" name="temperature-mode">
        <nb-radio value="cool">
          <i class="nb-snowy-circled"></i>
        </nb-radio>
        <nb-radio value="warm">
          <i class="nb-sunny-circled"></i>
        </nb-radio>
        <nb-radio value="heat">
          <i class="nb-flame-circled"></i>
        </nb-radio>
        <nb-radio value="fan">
          <i class="nb-loop-circled"></i>
        </nb-radio>
      </nb-radio-group>
    </nb-tab>

    <nb-tab tabTitle="Resistor">

      <div class="slider-container">
        <ngx-ecig-dragger [(value)]="resistor.value" (power)="ecigOff = !$event" [min]="resistor.min"
          [max]="resistor.max" [disableArcColor]="theme.arcEmpty" [fillColors]="theme.arcFill" [thumbBg]="theme.thumbBg"
          [thumbBorderColor]="theme.thumbBorder">

          <div class="slider-value-container" [ngClass]="{ 'off': ecigOff }">
            <div class="value humidity h1">
              {{ ecigOff ? '--' : (power.value | ngxRound) }}
            </div>
          </div>
        </ngx-ecig-dragger>
      </div>

      <nb-radio-group [(ngModel)]="humidityMode" name="humidity-mode">
        <nb-radio value="cool">
          <i class="nb-snowy-circled"></i>
        </nb-radio>
        <nb-radio value="warm">
          <i class="nb-sunny-circled"></i>
        </nb-radio>
        <nb-radio value="heat">
          <i class="nb-flame-circled"></i>
        </nb-radio>
        <nb-radio value="fan">
          <i class="nb-loop-circled"></i>
        </nb-radio>
      </nb-radio-group>
    </nb-tab>
  </nb-tabset>
</nb-card>