<nb-card size="large">

  <nb-card-header>
    <span>Ecig Activity</span>
    <input nbInput placeholder="Pick Date" [(ngModel)]="date" [nbDatepicker]="dateTimePicker">
    <nb-date-timepicker withSeconds #dateTimePicker></nb-date-timepicker>
    <nb-select [selected]="type">
      <nb-option *ngFor="let t of types" [value]="t">{{ t }}</nb-option>
    </nb-select>
  </nb-card-header>

  <nb-list class="user-activity-list">
    <nb-list-item *ngFor="let item of ecigActive">

      <div class="visited-date">
        {{ item.date|date:'medium'}}
      </div>

      <div class="visited-pages-count">
        <div class="caption">Power</div>
        <div class="value">{{ item.power }}</div>
      </div>

      <div class="visited-percentages">
        <div class="caption">Resistor</div>
        {{ item.resistor }} Ohms
      </div>

      <div class="visited-percentages">
        <div class="caption">Duration</div>
        {{ item.duration }}ms
      </div>

    </nb-list-item>
  </nb-list>

  <nb-card-footer>

    <button (click)="onClickRandom()" fullWidth nbButton>
      <nb-icon icon="refresh-outline" pack="eva"></nb-icon> Random
    </button>

    <button (click)="onClickSend()" fullWidth nbButton>
      <nb-icon icon="paper-plane-outline" pack="eva"></nb-icon> Send Data
    </button>
  </nb-card-footer>

</nb-card>