<nb-card class="cards-container">
  <nb-card size="large" class="table-card">
    <nb-card-header>
      Ecig Data send
    </nb-card-header>

    <nb-tabset fullWidth>
      <nb-tab>
        <nb-list>
          <nb-list-item *ngFor="let item of listData">

            <div class="visited-date">
              {{ item.date }}
            </div>

            <div class="visited-pages-count">
              <div class="caption">Power</div>
              <div class="value">{{ item.power }}</div>
            </div>

            <div class="visited-percentages">
              <div class="caption">Duration</div>
              {{ item.duration }}ms
            </div>

          </nb-list-item>
        </nb-list>
      </nb-tab>
    </nb-tabset>
  </nb-card>

  <nb-card size="large" class="chart-card">
    <nb-card-header>
      <span class="stats">
        <span class="caption">Consumed</span>
        <span>816 <span class="caption">kWh</span></span>
      </span>
      <span class="stats">
        <span class="caption">Spent</span>
        <span>291 <span class="caption">USD</span></span>
      </span>

      <nb-select [selected]="type" (selectedChange)="getDatachart($event);type = $event" class="type-select">
        <nb-option *ngFor="let t of types" [value]="t">{{ t }}</nb-option>
      </nb-select>
    </nb-card-header>

    <ngx-evolution-chart [data]="chartData"></ngx-evolution-chart>
  </nb-card>
</nb-card>